.roll-name-area {
  display: flex;
  margin-top: 4px;
  font-weight: bold;
}

.physical-range-roll-area {
  float: left;
  margin-right: 8px;
}

.roll-icon-image {
  width: 24px;
}

.job-icons-area {
  display: flex;
}

.job-icon-area {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
}

.job-icon-area.melee {
  background-color: brown;
}

.job-icon-area.physical-range {
  background-color: brown;
}

.job-icon-area.magical-range {
  background-color: brown;
}

.job-icon-area.tank {
  background-color: royalblue;
}

.job-icon-area.healer {
  background-color: forestgreen;
}

.job-icon-area.clicked {
  border: #4cc4e4 solid 2px;
}

.job-icon-image {
  width: 32px;
}

.job-icon-check-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
}
