<div class="roll-name-area">
  <img class="roll-icon-image" src="{{ rollIconUrl }}" />
  <span>{{ roll }}</span>
</div>
<div class="job-icons-area">
  <div
    *ngFor="let job of jobList"
    pRipple
    class="job-icon-area {{ job.roll }}"
    [class.clicked]="isJobIconCheck(job.name_jp)"
    (click)="onJobIconClick(job.name_jp)"
  >
    <img
      class="job-icon-image"
      src="https://xivapi.com/cj/1/{{ job.name_en }}.png"
    />
    <img
      *ngIf="isJobIconCheck(job.name_jp)"
      class="job-icon-check-image"
      src="https://xivapi.com/i/060000/060081.png"
    />
  </div>
</div>
