.solo-skill-check-box {
  margin-top: 8px;
}

.hide-column-execute-button-area {
  margin-top: 8px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.hide-column-execute-button {
  flex-grow: 1;
  margin-right: 8px;
}

.hide-column-reset-button {
  margin-right: 8px;
}
