<div class="tank-roll-area">
  <div class="roll-name-area">
    <img
      class="roll-icon-image"
      src="https://xivapi.com/cj/misc/clear_tank.png"
    />
    <span>Tank</span>
  </div>
  <div class="job-icons-area">
    <div
      *ngFor="let job of jobStore.getTankList()"
      pRipple
      class="job-icon-area {{ job.roll }}"
      [class.clicked]="isJobCheck(job.name_jp)"
      (click)="jobIconClick(job.name_jp)"
    >
      <img
        class="job-icon-image"
        src="https://xivapi.com/cj/1/{{ job.name_en }}.png"
      />
      <div
        *ngIf="isJobCheck(job.name_jp)"
        class="pi pi-check job-icon-check"
      ></div>
    </div>
  </div>
</div>
<div class="healer-roll-area">
  <div class="roll-name-area">
    <img
      class="roll-icon-image"
      src="https://xivapi.com/cj/misc/clear_healer.png"
    />
    <span>Healer</span>
  </div>
  <div class="job-icons-area">
    <div
      *ngFor="let job of jobStore.getHealerList()"
      pRipple
      class="job-icon-area {{ job.roll }}"
      [class.clicked]="isJobCheck(job.name_jp)"
      (click)="jobIconClick(job.name_jp)"
    >
      <img
        class="job-icon-image"
        src="https://xivapi.com/cj/1/{{ job.name_en }}.png"
      />
      <div
        *ngIf="isJobCheck(job.name_jp)"
        class="pi pi-check job-icon-check"
      ></div>
    </div>
  </div>
</div>
<div class="melee-roll-area">
  <div class="roll-name-area">
    <img
      class="roll-icon-image"
      src="https://xivapi.com/cj/misc/clear_dps.png"
    />
    <span>Melee DPS</span>
  </div>
  <div class="job-icons-area">
    <div
      *ngFor="let job of jobStore.getMeleeList()"
      pRipple
      class="job-icon-area {{ job.roll }}"
      [class.clicked]="isJobCheck(job.name_jp)"
      (click)="jobIconClick(job.name_jp)"
    >
      <img
        class="job-icon-image"
        src="https://xivapi.com/cj/1/{{ job.name_en }}.png"
      />
      <div
        *ngIf="isJobCheck(job.name_jp)"
        class="pi pi-check job-icon-check"
      ></div>
    </div>
  </div>
</div>
<div class="physical-range-roll-area">
  <div class="roll-name-area">
    <img
      class="roll-icon-image"
      src="https://xivapi.com/cj/misc/clear_ranged.png"
    />
    <span>Ranged</span>
  </div>
  <div class="job-icons-area">
    <div
      *ngFor="let job of jobStore.getPhysicalRangeList()"
      pRipple
      class="job-icon-area {{ job.roll }}"
      [class.clicked]="isJobCheck(job.name_jp)"
      (click)="jobIconClick(job.name_jp)"
    >
      <img
        class="job-icon-image"
        src="https://xivapi.com/cj/1/{{ job.name_en }}.png"
      />
      <div
        *ngIf="isJobCheck(job.name_jp)"
        class="pi pi-check job-icon-check"
      ></div>
    </div>
  </div>
</div>
<div class="magical-range-roll-area">
  <div class="roll-name-area">
    <img
      class="roll-icon-image"
      src="https://xivapi.com/cj/misc/clear_dps_magic.png"
    />
    <span>Caster</span>
  </div>
  <div class="job-icons-area">
    <div
      *ngFor="let job of jobStore.getMagicalRangeList()"
      pRipple
      class="job-icon-area {{ job.roll }}"
      [class.clicked]="isJobCheck(job.name_jp)"
      (click)="jobIconClick(job.name_jp)"
    >
      <img
        class="job-icon-image"
        src="https://xivapi.com/cj/1/{{ job.name_en }}.png"
      />
      <div
        *ngIf="isJobCheck(job.name_jp)"
        class="pi pi-check job-icon-check"
      ></div>
    </div>
  </div>
</div>
<div class="solo-skill-check-box">
  <p-checkbox
    [binary]="true"
    [(ngModel)]="isContainsSoloSkill"
    label="個人スキルを表示する"
  >
  </p-checkbox>
</div>
<div class="hide-column-execute-button-area">
  <button
    pButton
    pRipple
    type="button"
    label="列の表示/非表示"
    icon="pi pi-sliders-h"
    class="p-button-rounded hide-column-execute-button"
    (click)="clickHideColumnJobList()"
  ></button>
  <button
    pButton
    pRipple
    type="button"
    icon="pi pi-trash"
    class="p-button-rounded p-button-secondary hide-column-reset-button"
    (click)="clickResetJobList()"
  ></button>
</div>
