<div class="tank-roll-area">
  <app-job-icon
    [jobList]="jobStore.getTankList()"
    [checkJobList]="checkJobList"
    roll="Tank"
    rollIconUrl="https://xivapi.com/cj/misc/clear_tank.png"
    (jobIconClick)="jobIconClick($event)"
  ></app-job-icon>
</div>
<div class="healer-roll-area">
  <app-job-icon
    [jobList]="jobStore.getHealerList()"
    [checkJobList]="checkJobList"
    roll="Healer"
    rollIconUrl="https://xivapi.com/cj/misc/clear_healer.png"
    (jobIconClick)="jobIconClick($event)"
  ></app-job-icon>
</div>
<div class="melee-roll-area">
  <app-job-icon
    [jobList]="jobStore.getMeleeList()"
    [checkJobList]="checkJobList"
    roll="Melee DPS"
    rollIconUrl="https://xivapi.com/cj/misc/clear_dps.png"
    (jobIconClick)="jobIconClick($event)"
  ></app-job-icon>
</div>
<div class="physical-range-roll-area">
  <app-job-icon
    [jobList]="jobStore.getPhysicalRangeList()"
    [checkJobList]="checkJobList"
    roll="Ranged"
    rollIconUrl="https://xivapi.com/cj/misc/clear_ranged.png"
    (jobIconClick)="jobIconClick($event)"
  ></app-job-icon>
</div>
<div class="magical-range-roll-area">
  <app-job-icon
    [jobList]="jobStore.getMagicalRangeList()"
    [checkJobList]="checkJobList"
    roll="Caster"
    rollIconUrl="https://xivapi.com/cj/misc/clear_dps_magic.png"
    (jobIconClick)="jobIconClick($event)"
  ></app-job-icon>
</div>
<div class="solo-skill-check-box">
  <p-checkbox
    [binary]="true"
    [(ngModel)]="isContainsSoloSkill"
    label="個人スキルを表示する"
  >
  </p-checkbox>
</div>
<div class="hide-column-execute-button-area">
  <button
    pButton
    pRipple
    type="button"
    label="列の表示/非表示"
    icon="pi pi-sliders-h"
    class="p-button-rounded hide-column-execute-button"
    (click)="clickHideColumnJobList()"
  ></button>
  <button
    pButton
    pRipple
    type="button"
    icon="pi pi-trash"
    class="p-button-rounded p-button-secondary hide-column-reset-button"
    (click)="clickResetJobList()"
  ></button>
</div>
