html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

app-root {
  height: 100%;
  display: flex;
}

p-blockUI {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.p-panel .p-panel-header {
  padding: 12px 8px;
}

.p-panel .p-panel-content {
  padding: 8px 0px 12px 8px;
}

.p-selectbutton .p-button {
  padding: 4px 12px 4px 12px;
}

.p-button-label {
  font-weight: normal;
  color: BLACK;
}

.p-button-icon-left {
  color: BLACK;
}
