html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

app-root {
  height: 100%;
  display: flex;
}

p-blockUI {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.p-panel .p-panel-header {
  padding: 4px 8px;
  border: none;
  border-top-right-radius: unset;
  border-top-left-radius: unset;
  background-image: linear-gradient(
    90deg,
    rgba(45, 44, 44, 1),
    rgba(75, 75, 75, 1)
  );
}

.p-panel .p-panel-content {
  padding: 8px 0px 12px 8px;
}

.p-selectbutton .p-button {
  padding: 4px 12px 4px 12px;
}
